{% extends 'ideapadapp1/base.html' %}
{% load sass_tags %}
{% load static %}

{% block title %}
<title>Leave a review</title>
{% endblock %}

{% block content %}
<div class="pageTitle">Leave a Review</div>

{{introText.intro_text|safe}}


<form method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <input type="submit" value="Submit">
</form>

{% endblock %}


{% block footerScripts %}
<script type="text/javascript" src="{% sass_src 'reviews/javascript/leave-a-review-form.js' %}"></script>
{% endblock %}
