.recent-news__container {
    // display: flex;
    // flex-direction: row;
    // gap: 10px;
    // width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding-top: 10px;
}