{% extends './base.html' %}

{% load static %}

{% block title %}
<title>Get in Contact</title>
{% endblock %}

{% block content %}
<div class="pageTitle">Contact</div>

<div class="contact">
    <div class="contact__item__wrapper">
        <div class="contact__item--linkedin">
            <div class="contact__item__text">
                <div class="contact__item__text--subtitle">
                    Visit my <a href="https://www.linkedin.com/in/joshua-edwards-4347329b/" target="_blank">Linkedin</a>
                </div>
            </div>
        </div>
    </div>

    <div class="contact__item__wrapper">
        <div class="contact__item--email">
            <div class="contact__item__text">
                <div class="contact__item__text--subtitle">
                    joshuajamesedwards1@gmail.com <br>
                    <a href="mailto:joshuajamesedwards1@gmail.com">send an email now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="contact__item__wrapper">
        <div class="contact__item--whatsapp">
            <div class="contact__item__text">
                <div class="contact__item__text--subtitle">
                    07808226490 <br>
                    Drop a message or <a href="tel:+447808226490">call now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
