{% load sass_tags %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Website Redesign D2</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% sass_src 'scss/styles.scss' %}">
        <script type="text/javascript" src="{% sass_src 'javascript/d2-script.js' %}"></script>
        {% block scripts %}
        {% endblock %}
    </head>
    <body class="background">
        <div class="background__wrapper">
            {% block header %}
            <header class="header__banner">
                <button class="header__menu">
                    <img class="header__menu__icon" src="{% static 'images/svg/menu.svg' %}" alt="menu">
                </button>
                <div class="header__logo">
                    <div class="header__logo__title br header__logo__shimmer">
                        Joshua Edwards Tutoring
                    </div>
                </div>
                <nav class="header__navbar br">
                    <a href="{% url 'homepage' %}" class="header__navbar__item"><img class="header__navbar__item-icon" src="{% static 'images/svg/home.svg' %}" alt="Home"> Home</a>
                    <a href="{% url 'about' %}" class="header__navbar__item"><img class="header__navbar__item-icon" src="{% static 'images/svg/send.svg' %}" alt="Contact"> Contact</a>
                    <a class="header__navbar__item"><img class="header__navbar__item-icon" src="{% static 'images/svg/notepad.svg' %}" alt="Reviews"> Reviews</a>
                    <a href="{% url 'leave-a-review' %}" class="header__navbar__item"><img class="header__navbar__item-icon" src="{% static 'images/svg/speaking-head.svg' %}" alt="Leave a review">Leave a review</a>
                    <a href="{% url 'recent-news' %}" class="header__navbar__item"><img class="header__navbar__item-icon" src="{% static 'images/svg/infinity.svg' %}" alt="Recent news"> Recent news</a>
                </nav>
            </header>
            {% endblock %}

            <div class="background__overlay br">
                {% block content %}
                <main>
                    {% block main %}
                    {% endblock %}
                </main>
                {% endblock %}
            </div>

            {% block footer %}
            <footer>
                <div class="footer br">
                    <div class="footer__lhs">
                        <div>
                            Copyright {{ current_year }} &#169;
                        </div>
                    </div>
                    <div class="footer__rhs">
                        <div class="footer__rhs__container">
                            <img class="footer__rhs__icon--email" src="{% static 'images/svg/footer/mail.svg' %}" alt="email">
                            <img class="footer__rhs__icon--whatsapp" src="{% static 'images/svg/footer/whatsapp.svg' %}" alt="email">
                        </div>
                    </div>
                </div>
            </footer>
            {% endblock %}
        </div>
    </body>
</html>
