.br {
  border-radius: 0.5rem; }

.pageTitle {
  text-align: center;
  font-size: 2.3em;
  font-weight: 700;
  padding: 10px 0px 20px; }

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

html {
  font-family: 'Calibri', sans-serif; }

.background {
  background-image: url("../images/jpg/mathBg.jpeg");
  background-color: rgba(3, 0, 0, 0.7);
  /* white color with 50% opacity */
  background-blend-mode: overlay;
  /* blend the background color with the image */
  background-repeat: no-repeat;
  background-size: cover; }
  .background .background__wrapper {
    margin: 50px;
    user-select: none; }
    .background .background__wrapper .background__overlay {
      margin: 30px 0px;
      padding: 20px;
      display: block;
      height: auto;
      /* change later */
      background-color: cornflowerblue;
      border: 6px solid paleturquoise; }
      .background .background__wrapper .background__overlay:hover {
        box-shadow: 0px 0px 20px 2px paleturquoise; }

.footer {
  border: 3px solid paleturquoise;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 20px; }
  .footer:hover {
    box-shadow: 0px 0px 20px 2px paleturquoise; }
  .footer .footer__lhs,
  .footer .footer__rhs {
    display: flex;
    flex-direction: column;
    justify-content: center; }

.footer__rhs__container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer; }
  .footer__rhs__container .footer__rhs__icon--email {
    width: 40px;
    height: auto; }
  .footer__rhs__container .footer__rhs__icon--whatsapp {
    height: 35px;
    width: auto; }

.header__banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .header__banner .header__menu {
    cursor: pointer;
    background-color: cornflowerblue;
    border: 3px solid paleturquoise;
    border-radius: 0.3rem;
    margin: 10px 0; }
    .header__banner .header__menu:hover {
      box-shadow: 0px 0px 20px 3px paleturquoise; }
    .header__banner .header__menu .header__menu__icon {
      width: 50%;
      height: auto;
      transition: transform 0.2s; }

.menu--active {
  transform: rotate(90deg); }

.header__logo__title {
  background-color: rgba(3, 0, 0, 0.2);
  /* white color with 50% opacity */
  background-blend-mode: overlay;
  /* blend the background color with the image */
  border: 6px solid #8E8E8E;
  font-family: "chalkduster", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  line-height: 4rem;
  font-size: 1.5rem;
  text-align: center;
  color: whitesmoke;
  padding: 0 20px; }

.header__navbar {
  z-index: 100;
  border: 3px solid paleturquoise;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-out;
  position: absolute;
  top: 125px;
  left: 50px;
  width: 300px;
  background-color: cornflowerblue;
  /* animation: fadeIn 0.4s; */ }
  .header__navbar .header__navbar__item {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    color: black;
    transition: box-shadow 0.2s ease;
    cursor: pointer;
    transition: background-color 0,3s ease; }
    .header__navbar .header__navbar__item:hover {
      font-size: 1.05rem;
      background-color: #4065a9;
      box-shadow: 0px 0px 20px 3px paleturquoise; }
    .header__navbar .header__navbar__item .header__navbar__item-icon {
      width: 10%;
      height: auto;
      padding-right: 15px; }

.header__navbar--active {
  visibility: visible !important;
  opacity: 1 !important; }

.header__navbar__item:not(:last-child) {
  border-bottom: 3px solid paleturquoise; }

.header__logo__shimmer {
  position: relative;
  overflow: hidden; }

.header__logo__shimmer::before,
.header__logo__shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(45deg, transparent 50%, #696969 60%, silver 62%, #696969 64%, transparent 74%);
  z-index: -1;
  animation-name: shimmer;
  animation-duration: 3s;
  /* decrease time increase position percent, increase time decrease position percent; */
  animation-iteration-count: infinite; }

@keyframes shimmer {
  0% {
    transform: translateX(-75%); }
  20% {
    transform: translateX(65%); }
  100% {
    transform: translateX(100%); } }

.homepage {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 200px;
  cursor: default; }
  .homepage .homepage__title {
    font-family: 'Chalkduster', sans-serif; }
  .homepage .homepage__body__biopic {
    padding: 30px 0; }
    .homepage .homepage__body__biopic img {
      width: 60%;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border: 3px solid paleturquoise;
      transition: transform 0.5s ease; }
      .homepage .homepage__body__biopic img:hover {
        transform: scale(1.01); }
  .homepage [class^="homepage__body"] div {
    text-align: left; }
  .homepage .homepage__header__title,
  .homepage .homepage__body__title {
    transform: scale(1);
    /* transition: transform 0.2s ease; */ }
  .homepage .homepage__header__title:hover,
  .homepage .homepage__body__title:hover {
    transform: scale(1.05); }

.contact {
  display: flex;
  flex-direction: row;
  margin: 10px 20px;
  border-radius: 0.5rem;
  border: 6px solid paleturquoise;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
  @media (max-width: 1000px) {
    .contact {
      flex-direction: column;
      align-items: center;
      margin: 10px 10px; } }
  .contact .contact__item__wrapper {
    position: relative;
    width: 33.3%;
    height: 500px; }
    @media (max-width: 1000px) {
      .contact .contact__item__wrapper {
        width: 100%; } }
    .contact .contact__item__wrapper:hover .contact__item__text {
      opacity: 1; }
  .contact .contact__item--linkedin {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("/static/images/jpg/linkedinLogo.jpg"); }
  .contact .contact__item--email {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("/static/images/jpg/emailLogo.jpg"); }
  .contact .contact__item--whatsapp {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("/static/images/jpg/whatsappLogo.jpg"); }
  .contact .contact__item--linkedin::before,
  .contact .contact__item--email::before,
  .contact .contact__item--whatsapp::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /* Adjust the opacity as desired */
    opacity: 0;
    transition: opacity 0.3s; }
  .contact .contact__item--linkedin:hover::before,
  .contact .contact__item--email:hover::before,
  .contact .contact__item--whatsapp:hover::before {
    opacity: 1; }
  .contact .contact__item__text {
    opacity: 0;
    text-align: center;
    color: whitesmoke;
    font-size: 1.1rem;
    font-weight: 600;
    transition: opacity 0.8s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(175, 238, 238, 0.7);
    padding: 20px;
    border-radius: 0.1rem; }
    .contact .contact__item__text a {
      color: rgba(41, 52, 61, 0.829); }

/*# sourceMappingURL=styles.css.map */